*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: gray;
}

body *{
    display: flex;
    justify-content: center;
}

body > footer {
    margin-bottom: 3rem;
}

.zone-container{
    --hauteur-big: 30rem;
    display: block;
}

.zone{
    align-items: center;
    padding: 1rem;
    border: 1px solid silver;
    color: white;
}

.zone.reccurent{
    background-color: rgb(24, 22, 22);
    min-width: 50%;
}

.big{
    height: var(--hauteur-big);
}

.small{
    height: 10rem;
}

body > header> nav +nav{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 1280px) {
    main.zone-container{
        display: grid;
        grid-template-areas:
        '. proposition proposition .'
        '. encheres encheres .'
        '. actualite actualite .'
        '. lord astuces .';
        width: 100vw;
        grid-template-columns: 1fr 50rem 20rem 1fr;
    }
    
    main.zone-container > *{
        height: initial;
        min-height: 10rem;
    }
    
    .proposition{
        grid-area: proposition;
    }

    .encheres{
        grid-area: encheres;
    }
    .actualite{
        grid-area: actualite;
    }
    .lord{
        grid-area: lord;
    }
    .astuces{
        grid-area: astuces;
    }

    body > footer{
        margin-bottom: 0;
    }

    body > header.zone-container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    body > header> nav +nav{
        position: static;
        width: initial;
    }

}